<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<title>piManager - Sign in</title>

		<!-- login.css -->
		<link href='{{ STATIC_URL }}css/login.css' rel='stylesheet' type='text/css'>
		
		<!-- font-awesome -->
		<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">

		<!-- bootstrap -->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">

		</head>
		<body>
				<div class="container">
					<form class="form-signin" action="/" method="post" role="form">
						{% csrf_token %}
						<div class="span7 text-center">
							<h1 class="form-signin-heading"><span style="color: red;">pi</span>Manager</h1>
						</div>
						<input class="form-control" type="text" name="username" value="{{ username }}" placeholder="Username" autofocus/>
						<input class="form-control" type="password" name="password" value="" placeholder="Password"  />
						<div class="span7 text-center">
							<button type="submit" class="btn btn-success btn-circle btn-xl"><i class="fa fa-sign-in"></i></button>
						</div>
						<!--
						<button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Sign-in</button> -->

					</form>
				</div>
				{% if state %}
					<div class="span7 text-center">
						<div class="alert alert-danger">
							{{ state }}
						</div>
					</div>
				{% endif %}

			<!-- bootstrap & jQuery js -->
			<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
			<script src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
		</body>
</html>