<!DOCTYPE html>
<html>
	<head>
		<title>piManager - Login</title>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<link href='{{ STATIC_URL }}css/login.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">

		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		</head>
		<body>
				<form class="form-container" action="/" method="post">
					{% csrf_token %}
					<div class="form-title"><h1><span style="color: red;">pi</span>Manager</h1></div>
					<div class="form-sub-title">Username</div>
					<input class="form-field" type="text" name="username" value="{{ username }}" autofocus/><br />
					<div class="form-sub-title">Password</div>
					<input class="form-field" type="password" name="password" value="" /><br />
					<div class="submit-container">
						<button class="submit-button" type="submit"><i class="fa fa-sign-in"></i> Sign-in</button> 
					</div>
				</form>
				<span style="color: red">{{ state }}</span>
		</body>
</html>